.weather_box {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  color: aliceblue;
  font-family: Arial, sans-serif;
}
.hot_temperature {
  /* 온도가 26도 이상일 때 배경색 */
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}
html,
body {
  width: 100%;
  height: 100%;
}

.weather_info-container {
  font-size: 18px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.weather_btn {
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.search_btn {
  display: flex;
  justify-content: center;
}
form {
  width: 270px;
}
